/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Basic styles for header */
header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

header img {
    max-width: 60%;
    height: auto;
}

/* Navigation styles */
nav ul {
    list-style: none;
    text-align: center;
    background-color: #333;
}

nav li {
    display: inline;
    margin-right: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #fff;

}

/* Main content styles */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero img {
    width: 100%;
    height: auto;
}

.card {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}



.hero {
    grid-column: span1;
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #1a38bd);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    /* Buenas */
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Great Vibes", serif;
}
#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}